In [72]:
import pandas as pd
import numpy as np

from pyspark.ml.recommendation import ALS
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType
import pyspark.sql.functions as sf

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight


# Функции из 1-ого вебинара
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from best_rec_lib.metrics import precision_at_k, ap_k, recall_at_k
from best_rec_lib.utils import prefilter_items

import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('../retail_train.csv')
item_features = pd.read_csv('../product.csv')
user_features = pd.read_csv('../hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
n_items_before = data_train['item_id'].nunique()

data_train = prefilter_items(data_train, 5000, item_features)

n_items_after = data_train['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 86865 to 5001

In [4]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id,117847,279994,818981,819255,819308,819400,819487,819590,819594,819840,...,15926775,15926844,15926886,15972074,15972298,15972565,15972790,16100266,16729299,16729415
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]

In [6]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [856942, 865456, 951954, 971585, 979707, 99065...
1        3                                           [920626]

In [7]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

##### Spark

In [8]:
session = (SparkSession.builder.config('spark.executor.memory', "1500mb")
    .config("spark.sql.shuffle.partitions", "100")
    .config("spark.driver.bindAddress", "127.0.0.1")
    .config("spark.driver.host", "localhost")
    .config('spark.executor.instances', 4)
    .config('spark.executor.cores', 4)
    .config("spark.sql.execution.arrow.pyspark.enabled", "true")
    .master("local[*]")
    .enableHiveSupport()
    .getOrCreate()
    )

In [9]:
session

In [10]:
# session.stop()

In [12]:
df_to_spark = data_train[["user_id", "item_id", "quantity"]]

In [13]:
spark_data_train = session.createDataFrame(df_to_spark)

In [14]:
spark_data_train = spark_data_train.withColumnRenamed("quantity", "relevance")

In [24]:
model = ALS(rank=30, 
            userCol="user_id",
            itemCol="item_id", 
            ratingCol="relevance", 
            implicitPrefs=True, # тип ALS
            coldStartStrategy="drop",
            maxIter=10, 
            alpha=1.0, 
            regParam=0.1,
            seed=42
).fit(spark_data_train)  # В spark важно указывать fit сразу при создании модели, т.к. он возвращает модель

In [44]:
# предсказания для всех пользователей
recs_als = model.recommendForAllUsers(6)

+-------+--------------------+
|user_id|     recommendations|
+-------+--------------------+
|      4|[{999999, 1.46268...|
|      7|[{999999, 1.79943...|
|      8|[{999999, 1.77428...|
|     23|[{999999, 1.78058...|
|     26|[{999999, 1.55183...|
+-------+--------------------+
only showing top 5 rows

In [46]:
# Разворачиваем рекомендации через функцию explode
recs_als = (recs_als
            .withColumn("recommendations", sf.explode("recommendations"))
            .withColumn("item_id", sf.col("recommendations.item_id"))
            .withColumn("relevance", sf.col("recommendations.rating").cast(DoubleType()),)
            .select("user_id", "item_id", "relevance")
    )

In [53]:
recs_als = recs_als.toPandas()

In [59]:
users = list(set(recs_als.user_id))

In [61]:
test_users = result.shape[0]
new_test_users = len(set(result['user_id']) - set(recs_als['user_id']))

print('В тестовом дата сете {} юзеров'.format(test_users))
print('В тестовом дата сете {} новых юзеров'.format(new_test_users))
new_test_users = list(set(result['user_id']) - set(recs_als['user_id']))

В тестовом дата сете 1919 юзеров
В тестовом дата сете 2 новых юзеров

In [63]:
# уберем пользователей, которых нет в трейне
result = result[~result['user_id'].isin(new_test_users)]

In [68]:
def get_recommendations_spark(x, N=5):
    spam_df = recs_als.loc[recs_als['user_id'] == x]
    spam_df = list(spam_df.item_id)
    if 999999 in spam_df:
        spam_df.remove(999999)
    
    return spam_df[:N]

In [69]:
result['als_spark'] = result['user_id'].map(lambda x: get_recommendations_spark(x, N=5))

In [74]:
print('Precision@k: ', result.apply(lambda row: precision_at_k(row['als_spark'], row['actual'], 5), axis=1).mean())
print('MAP@k: ', result.apply(lambda row: ap_k(row['als_spark'], row['actual'], 5), axis=1).mean())

Precision@k:  0.174960876369325
MAP@k:  0.11824378368979233

In [ ]:
session.stop()